<div class="content-orders" *ngIf="grocount > 0">
    <div class="title">
        My Grocery List
    </div>
    <div #i *ngFor="let item of itemList;index as i" class="block">
        <mat-card class="example-card">
            <mat-card-header>
            </mat-card-header>
            <img mat-card-image [src]="item.image" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
                <p>
                    <strong>
                        Item Name: 
                    </strong>
                    {{item.item}}
                </p>
                <p>
                    <strong>
                        Cost: 
                    </strong>
                    {{ item.cost | currency:'INR':'symbol':'.1-1' }}
                </p>
            </mat-card-content>
            <!-- <mat-card-actions align="end">
                <button mat-raised-button color="primary" (click)="addCart(item)">Add Cart</button>
                <button mat-raised-button color="warn" (click)="buynow(item)">Buy Now</button>
            </mat-card-actions> -->
        </mat-card>
    </div> 
</div>

<div class="content-orders" *ngIf="frucount > 0">
    <div class="title">
        My Fruit List
    </div>
    <div #i *ngFor="let item of fruitList;index as i" class="block">
        <mat-card class="example-card">
            <mat-card-header>
            </mat-card-header>
            <img mat-card-image [src]="item.image" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
                <p>
                    <strong>
                        Item Name: 
                    </strong>
                    {{item.item}}
                </p>
                <p>
                    <strong>
                        Cost: 
                    </strong>
                    {{ item.cost | currency:'INR':'symbol':'.1-1' }}
                </p>
            </mat-card-content>
        </mat-card>
    </div> 
</div>


<div class="content-orders" *ngIf="othercount > 0">
    <div class="title">
        Others List
    </div>
    <div #i *ngFor="let item of otherList;index as i" class="block">
        <mat-card class="example-card">
            <mat-card-header>
            </mat-card-header>
            <img mat-card-image [src]="item.image" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
                <p>
                    <strong>
                        Item Name: 
                    </strong>
                    {{item.item}}
                </p>
                <p>
                    <strong>
                        Cost: 
                    </strong>
                    {{ item.cost | currency:'INR':'symbol':'.1-1' }}
                </p>
            </mat-card-content>
        </mat-card>
    </div> 
</div>

<div *ngIf="empty" class="empty text-center my-5">
    You haven't <strong class="text-danger">
        Ordered
    </strong>  (or) 
    <strong class="text-danger">
        Booked
    </strong>  any Products
    <div class="home row">
        <mat-card (click)="navigateTab('grocery')" class="example-card col-sm-3">
            <mat-card-header>
            </mat-card-header>
            <img mat-card-image src="../../assets/car10.jpeg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                Groceries
            </mat-card-content>
        </mat-card>

        <mat-card  (click)="navigateTab('fruits')" class="example-card col-sm-3">
            <mat-card-header>
            </mat-card-header>
            <img mat-card-image src="../../assets/car5.jpeg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                Fruits
            </mat-card-content>
        </mat-card>

        <mat-card (click)="navigateTab('others')"  class="example-card col-sm-3">
            <mat-card-header>
            </mat-card-header>
            <img mat-card-image src="../../assets/car1.jpeg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                Others
            </mat-card-content>
        </mat-card>
    </div>
</div>