<div class="main-content">
    <form [formGroup]="groceryItem">

        <mat-form-field appearance="outline">
            <mat-label>Enter the Item name </mat-label>
            <input matInput placeholder="Ex. chintapandu" formControlName="item" >
            <mat-error *ngIf="groceryItem.controls['item'].hasError('required')">Item name is <strong>required</strong></mat-error>
          </mat-form-field> 
        
        <mat-form-field appearance="outline">
            <mat-label>Enter the cost of the Item </mat-label>
            <input type="number" matInput placeholder="Rs. 40" formControlName="cost">
            <mat-error *ngIf="groceryItem.controls['cost'].hasError('required')">cost of the item is <strong>required</strong></mat-error>
          </mat-form-field> 
        
          <mat-form-field appearance="outline">
              <mat-label>Enter the image link </mat-label>
              <input matInput placeholder="Ex. www.http.link.attatch.." formControlName="image">
              <mat-error *ngIf="groceryItem.controls['image'].hasError('required')">Image link is <strong>required</strong></mat-error>
            </mat-form-field> 
            <div class="action">
                <button type="submit" mat-raised-button color="primary" (click)="updateItem()">
                    Update Item
                </button>
                <button mat-raised-button color="accent" (click)="clearItem()">
                    clear
                </button>
                <button mat-raised-button color="warn" (click)="cancel()">
                    cancel/Back
                </button>
            </div>
            
    </form>
</div>